[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/nativefiledialog-extended"]
	path = extern/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
